
@media screen and (max-width: 767px) {
    .cont-nav-text-desk {
        display: none;
    }
    
/*elementos que não serão usados no mobile */
       .navbar {

    display: flex;
    flex-wrap:nowrap;
    width: 100vw;
    margin-top: -15px;
    
}
.cont-nav-text-mob {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
.cont-nav-text-mob2 {
    width: 200px;
    
    display: flex;
   align-items: center;
}

.barraIt:hover {
color:black;
text-decoration: underline;
}
#gmail {
    display: none;
}
#todas  {
    font-size: 10px;
    font-weight: bold;
    padding: 20px;
    color: rgb(60, 163, 204);
    border-bottom:2px solid rgb(60, 163, 204);
}
#imagens {
    color: gray;
    font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;

}
#botNav {
    width: 20px;
    margin-top: 12px;
}
.barraIt {
   
    margin: 8px;
}
#icoLog {
    color: white;
    width: 15px;
    height: 15px;
    margin-top: 15px;

}
 a, #pesquisar, #sorte{
    color:inherit;
    text-decoration: none;
    color: rgb(36, 35, 35);
}

.botLog {
    font-weight: bold;
   width: 100px;
   font-size: 12px; 
   border-radius: 1px;  
}

    
#botapps:hover{
    background: rgba(0, 0, 0, 0.04);
}
#botapps {
    background: none;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 50px;
    width: 45px;
    height: 46px;
}
#logoP {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
#Cont1 {
    display: flex;
    flex-direction: column;
    align-content: center;
    
}
.logoGoogle {
    margin-top: 50px;
    width:  150px;
}

.searchModal {
  background: rgb(0, 0, 0);
    
}

.linha {
    display: none;
    position: absolute;
    margin-left: 420px;
    height: 30px;
    width: 1px;
    margin-top: 5px;
    background: rgb(214, 214, 214);
    
}
.botX {
 display: none;
 border: none;
    position: absolute;
    font-size: 25px;
   height: 50px;
    
    color: rgb(139, 138, 138);
    text-align: center;
    margin: 10px;
    margin-left: 380px;
    margin-top: -7px;
    background: none;
    

    
    
}

.icoTec {
   display: none;
}
.contCaixas {
    display: none;
    position: absolute;
    width: 650px;
   
}
.set {
    border: none;
    position: absolute;
    height: 8px;
    width: 8px;
    margin-left: 555px;
    margin-top: 46px;
     background: rgb(32, 32, 32);
    transform: rotate(45deg);
}
.insertTex {
    border: none;
    position: absolute;
    font-size: 8pt;
    text-align: center;
    padding: 5px;
    width: 210px;
    height: 28px;
    margin-left: 450px;
    margin-top: 50px;
    background: rgb(32, 32, 32);
    font-weight: bold;
    color: white;
    
}
.contCaixas2 {
    display: none;
    position: absolute;
    width: 650px;
    
}
.set2 {
    border: none;
    position: absolute;
    height: 8px;
    width: 8px;
    margin-left: 593px;
    margin-top: 46px;
     background: rgb(32, 32, 32);
    transform: rotate(45deg);
}
.PesquisaVoz {
    border: none;
    position: absolute;
    font-size: 8pt;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    width: 130px;
    height: 28px;
    margin-left: 530px;
    margin-top: 50px;
    background: rgb(32, 32, 32);
    color: white;
    
}
.icoMic {
    display: none;
    cursor: pointer;
    margin-top: 12px;
    margin-left: 10px;
}
.ico-mic-375px {
    width: 20px;
   margin-top: -18px;
   
}
.cont-ico-search {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    
}
.cont-ico-mic-mob {
    display: flex;
    flex-direction: row-reverse;
    align-content: flex-end;
}
#search-ico {
    margin-top: 8px;
    width: 15px;
    height: 15px;
}
.search {
    display: none;
}

#contSearch {
     
    justify-content: center;
    align-content: center;
    margin-top: 20px;
    width: 95vw;
    border-radius: 30px;
    height: 35px;
    border: solid 1px;
    border-color: rgb(200, 200, 200);
    
   
}
#pesquisaG {
    display: none;   
}
.botpesq {
    height:40px;
    border-radius: 5px;
    margin: 5px;
    width: 150px;
    border: none;
    font-size: 11pt;
    margin-top: 40px;
    color: rgb(66, 66, 66);
    background:#f2f2f2;
    
}
.botpesq:hover {
    border: 1px solid rgb(206, 206, 206);
    box-shadow: 1px 1px 1px 1px rgb(211, 210, 210);
}

footer {
    
position: absolute;
 bottom: 0;
 background:#f2f2f2;
 height: 120px;
 font-size: 10pt;
    color: gray;
}


.footerBr {
    padding: 15px;
    border-bottom:0.1px  solid rgb(216, 214, 214);
    
}
.textosFooter {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin-top: 20px;
}
#ft-c {
    display: none;
}
.itensFooter {
    margin: 15px;
   
   
}
.textosFooter2 {
    margin-top: -70px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}
.itensFooter2 {
    margin-left: 500px;
    margin: 15px;
   
}

/*modal*/

.modalb {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    display: none;
    position: fixed;
    z-index: 2000;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 300vw;
    height: 100vh;
   
    
}
@keyframes animodal {
    from {
       
        transform: translate3d(-200px,0, 0);
    } 
    to {
        
        transform: translate3d(0,0,0);
    }
}
@keyframes animodal2 {
    from {
       
        transform: translate3d(200px,0, 0);
    } 
     to {
        
        transform: translate3d(0,0,0);
    }
 
}

.modalb.mostrar-m {
    animation: animodal 0.7s; 
}
   
.modalb.anima-m {
    animation: animodal2 0.7s;
    
}


.cont-mod {
    
    display: flex;
    flex-direction: column;
    background: white;
    width: 240px;
    height: 100vh;
   margin-left: -200px;

   
}
.cont-mod-2 {
    position: fixed;
   display: flex;
     background: none;
    width: 300vw;
    height: 100vh;
   top: 0;
   margin-left:40px;
   
   
    
}
.logo-mod {
    margin-top: 15px;
    margin-left: 12px;
    width: 90px;
}
#ico-home {
   
    width: 45px;
    
}
.item-home {
    
    padding: 10px;
}
.item-home2 {
    
    padding: 10px;
}
.hist-ico {
    margin-left: 10px;
    width: 22px;
    
}
.text-hist {
    margin-left: 22px;
}

.container-home {
    margin-top: 5px;
    display: flex;
    align-items: center;
    color: gray;
    background: white;
    border: none;
    
}

#textOcultar {
  
    font-size: 15px;
   width: 180px;
   text-align: left;
 
}
/*modal pesquisa mobile*/
.cont-modal-p{
    
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 5000;
    top: 0;
    left: 0;
    background: white;
    display: none;
}
.seta-b-p {
    width: 23px;
    margin-left: 10px;
    margin-top: -40px;
}
.search-ico-mod {
    width: 15px;
    margin-top: -50px;
    margin-left: 90vw;
}
.barra-pesquisa-mod {
  outline: 0;
  text-indent: 40px;
    width: 100vw;
    height: 50px;
    border: none;
    border-bottom: 1px solid rgb(214, 213, 213);
}

}


@media screen and (min-width: 768px) {
/*elementos que não serão utilizados no desktop*/
.barra-pesquisa-mod {
    display: none;
}
.cont-mod {
    display: none;
}
.cont-mod-2 {
    display: none;
}
.modalb {
    display: none;
}
#todas {
    display: none;
}
.cont-ico-mic-mob{
    display: none;
}
#botNav {
    display: none;
}
.cont-nav-text-mob {
    display: none;
}
.cont-nav-text-mob2 {
    display: none;
}
/*elementos que não serão utilizados no desktop*/
       .navbar {
    display: flex;
    justify-content: end;
    width: 98vw;
    margin-top: -15px;
}
.cont-nav-text-desk {
    display: flex;
   flex-direction: row;
   align-items: center;
   
   
   
}
.barraIt:hover {
color:black;
text-decoration: underline;
}
.barraIt {
    
    font-size: 14px;
    margin: 15px;
}
#icoLog {
    color: white;
    width: 15px;
    height: 15px;
    margin-top: 15px;

}
 a, #pesquisar, #sorte{
    color:inherit;
    text-decoration: none;
    color: rgb(36, 35, 35);
}

.botLog {
   width: 120px;
   font-size: 15px;
   
   
   
}

    
   
    

#botapps:hover{
    background: rgba(0, 0, 0, 0.04);
}
#botapps {
    background: none;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 50px;
    width: 45px;
    height: 46px;
}
#logoP {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
#Cont1 {
    display: flex;
    flex-direction: column;
    align-content: center;
    
}

.search {
    position: absolute;
    outline: 0;
    margin-left: -80px;
    width: 420px;
    margin-top: 0px;
    height: 40px;
    border-radius: 30px;
    border: none;
    
}
#search-ico {
    
    margin-top: 15px;
    
}
.linha {
    display: none;
    position: absolute;
    margin-left: 420px;
    height: 30px;
    width: 1px;
    margin-top: 5px;
    background: rgb(214, 214, 214);
    
}
.botX {
 display: none;
 border: none;
    position: absolute;
    font-size: 25px;
   height: 50px;
    
    color: rgb(139, 138, 138);
    text-align: center;
    margin: 10px;
    margin-left: 380px;
    margin-top: -7px;
    background: none;
    

    
    
}

.icoTec {
    cursor: pointer;
    margin: 10px;
    margin-left: 500px;
    margin-top: 10px;
}
.contCaixas {
    display: none;
    position: absolute;
    width: 650px;
   
}
.set {
    border: none;
    position: absolute;
    height: 8px;
    width: 8px;
    margin-left: 555px;
    margin-top: 46px;
     background: rgb(32, 32, 32);
    transform: rotate(45deg);
}
.insertTex {
    border: none;
    position: absolute;
    font-size: 8pt;
    text-align: center;
    padding: 5px;
    width: 210px;
    height: 28px;
    margin-left: 450px;
    margin-top: 50px;
    background: rgb(32, 32, 32);
    font-weight: bold;
    color: white;
    
}
.contCaixas2 {
    display: none;
    position: absolute;
    width: 650px;
    
}
.set2 {
    border: none;
    position: absolute;
    height: 8px;
    width: 8px;
    margin-left: 593px;
    margin-top: 46px;
     background: rgb(32, 32, 32);
    transform: rotate(45deg);
}
.PesquisaVoz {
    border: none;
    position: absolute;
    font-size: 8pt;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    width: 130px;
    height: 28px;
    margin-left: 530px;
    margin-top: 50px;
    background: rgb(32, 32, 32);
    color: white;
    
}
.icoMic {
    cursor: pointer;
    margin-top: 12px;
    margin-left: 10px;
}
 #contSearch:hover{
   
     
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
}
#contSearch {
     display: flex;
    justify-content: center;
    margin-top: 40px;
    width: 600px;
    border-radius: 30px;
    height: 45px;
    border: solid 0.1px;
    border-left: none;
    border-right: none;
    border-color: rgb(200, 200, 200);
   
}
#pesquisaG {
    display: flex;
    justify-content: center;
}
.botpesq {
    height:40px;
    border-radius: 5px;
    margin: 5px;
    width: 150px;
    border: none;
    font-size: 11pt;
    margin-top: 40px;
    color: rgb(66, 66, 66);
    background:#f2f2f2;
    
}
.botpesq:hover {
    border: 1px solid rgb(206, 206, 206);
    box-shadow: 1px 1px 1px 1px rgb(211, 210, 210);
}

footer {
    flex-wrap: nowrap;
position: absolute;
 bottom: 0;
 background:#f2f2f2;
 height: 100px;
 font-size: 10pt;
    color: gray;
}


.footerBr {
    padding: 15px;
    border-bottom:0.1px  solid rgb(216, 214, 214);
    
}
.textosFooter {
    display: flex;
    justify-content: flex-start;
}
.itensFooter {
    margin: 15px;
   
   
}
.textosFooter2 {
    margin-top: -45px;
    display: flex;
    justify-content: flex-end;
}
.itensFooter2 {
    margin-left: 500px;
    margin: 15px;
   
}
}




